<h2><%= I18n.t(:home_title) %></h2>
<h3><%= I18n.t(:home_sign_up) %></h3>
<form action="/<%= I18n.locale %>/signup" method="post">
	<%= I18n.t(:home_name) %>: <input type="text" name="name" placeholder="<%= I18n.t(:home_name) %>"><br/>
	<%= I18n.t(:home_email) %>: <input type="text" name="email" placeholder="<%= I18n.t(:home_email) %>"><br/>
	<%= I18n.t(:home_password) %>: <input type="password" name="password"><br/>
	<%= I18n.t(:home_repeat_password) %>: <input type="password" name="password2"><br/>
	<%= I18n.t(:home_account_type) %>: <input type="radio" checked="true" name="type" value="fan"><%= I18n.t(:home_fan) %>
	<input type="radio" name="type" value="musician"><%= I18n.t(:home_musician) %><br/>
	<input type="submit" value="<%= I18n.t(:home_submit) %>">
</form>
<h3><%= I18n.t(:home_log_in) %></h3>
<form action="/<%= I18n.locale %>/login" method="post">
	<%= I18n.t(:home_email) %>: <input type="text" name="email" placeholder="Your e-mail"><br/>
	<%= I18n.t(:home_password) %>: <input type="password" name="password"><br/>
	<input type="submit" value="<%= I18n.t(:home_submit) %>">
</form>