<h2><%= I18n.t(:home_title) %></h2>
<%= I18n.t(:main_login_successful) %>

<ul>

<% if musician? %>
	<li><a href="/<%= I18n.locale %>/upload"><%= I18n.t(:main_upload) %></a></li>
	<li><a href="/<%= I18n.locale %>/stats"><%= I18n.t(:main_song_stats) %></a></li>
	
<% end %>

<% if fan? %>
	<li><a href="/<%= I18n.locale %>/playback"><%= I18n.t(:main_listen) %></a></li>
<% end %>

	<li><a href="/<%= I18n.locale %>/logout"><%= I18n.t(:main_logout) %></a></li>
</ul>

