<h2><%= I18n.t(:home_title) %></h2>
<%= I18n.t(:upload_body_text) %>
<form action="/<%= I18n.locale %>/upload" method="post" enctype="multipart/form-data">
<p>
<input type="file" name="song" size="40">
</p>
<%= I18n.t(:upload_song_name) %>:
<input type="text" name="name" size="60">
<div>
<input type="submit" value="<%= I18n.t(:home_submit) %>">
</div>
</form>