<table id="attributes">
	<tr><th>attribute</th><th>N</th><th>?</th><th>Y</th></tr>
<% @attributes.each do |x|
minus = (x[:plusminus] == false) ? ' checked="checked"' : ''
unknown = (x[:plusminus] == nil) ? ' checked="checked"' : ''
plus = (x[:plusminus] == true) ? ' checked="checked"' : ''
%>
	<tr><td><%= x[:atkey] %></td><td>
		<input type="radio" name="<%= x[:atkey] %>" data-post="/attribute/<%= @person[:id] %>/<%= x[:atkey] %>/minus.json"<%= minus %>>
	</td><td>
		<input type="radio" name="<%= x[:atkey] %>" data-post="/attribute/<%= @person[:id] %>/<%= x[:atkey] %>/delete.json"<%= unknown %>>
	</td><td>
		<input type="radio" name="<%= x[:atkey] %>" data-post="/attribute/<%= @person[:id] %>/<%= x[:atkey] %>/plus.json"<%= plus %>>
	</td></tr>
<% end %>
</table>
<script>
var attributeInputs = document.getElementById('attributes').getElementsByTagName('input');
var l = attributeInputs.length;
for(var i = 0; i < l; i++) {
	attributeInputs[i].addEventListener('click', function(e) {
		var url = e.currentTarget.getAttribute('data-post');
		var xhr = new XMLHttpRequest();
		xhr.open('post', url, true);
		xhr.send();
	}, false);
}
</script>

<h4>interests:</h4>
<select name="interest" id="inkeyselect">
	<option value="">. . .</option>
<% @inkeys.each do |x| %>
	<option value="<%= x %>"><%= x %></option>
<% end %>
</select>
<input type="submit" value="add" id="interestadd" data-personId="<%= @person[:id] %>" />
<div id="interests"></div>
<script>
function interestItem(personId, interest, expert) {
	var div = document.createElement('div');
	div.id = interest + personId;
	var delBut = document.createElement('button');
	delBut.appendChild(document.createTextNode('x'));
	div.appendChild(delBut);
	div.appendChild(document.createTextNode(interest));
	delBut.addEventListener('click', delEvent(personId, interest), false);
	if(expert === 'false') {
		div.appendChild(document.createTextNode('---'));
	} else {
		var noBut = document.createElement('button');
		noBut.appendChild(document.createTextNode('-'));
		div.appendChild(noBut);
		noBut.addEventListener('click', updEvent(personId, interest, false), false);
	}
	if(expert !== 'false' && expert !== 'true') {
		div.appendChild(document.createTextNode('???'));
	} else {
		var nilBut = document.createElement('button');
		nilBut.appendChild(document.createTextNode('?'));
		div.appendChild(nilBut);
		nilBut.addEventListener('click', updEvent(personId, interest, null), false);
	}
	if(expert === 'true') {
		div.appendChild(document.createTextNode('+++'));
	} else {
		var yesBut = document.createElement('button');
		yesBut.appendChild(document.createTextNode('+'));
		div.appendChild(yesBut);
		yesBut.addEventListener('click', updEvent(personId, interest, true), false);
	}
	return div;
}

function addInterestItem(personId, interest, expert) {
	var div = interestItem(personId, interest, expert);
	document.getElementById('interests').appendChild(div);
}

function killInterestItem(personId, interest) {
	var div = document.getElementById(interest + personId);
	document.getElementById('interests').removeChild(div);
}

function delEvent(personId, interest) {
	return function(e) {
		e.preventDefault();
		var url = '/interest/' + personId + '/' + interest + '/delete.json';
		var xhr = new XMLHttpRequest();
		xhr.open('post', url, true);
		xhr.send();
		killInterestItem(personId, interest);
	};
}

function updEvent(personId, interest, expert) {
	return function(e) {
		e.preventDefault();
		var url = '/interest/' + personId + '/' + interest + '/update.json';
		if(expert === true) {
			var sendval = 'true';
		} else if(expert === false) {
			var sendval = 'false';
		} else {
			var sendval = '_';
		}
		var params = 'expert=' + sendval[0];
		var xhr = new XMLHttpRequest();
		xhr.open('post', url, true);
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		xhr.send(params);
		killInterestItem(personId, interest);
		addInterestItem(personId, interest, sendval);
	};
}

function addInterest(e) {
	e.preventDefault();
	var inkey = document.getElementById('inkeyselect').value;
	if(inkey == '') { return; }
	var personId = e.currentTarget.getAttribute('data-personId');
	addInterestItem(personId, inkey);
	var url = '/interest/' + personId + '/' + inkey + '/add.json';
	var xhr = new XMLHttpRequest();
	xhr.open('post', url, true);
	xhr.send();
}

document.getElementById('interestadd').addEventListener('click', addInterest, false);

<% @interests.each do |x| %>
	addInterestItem(<%= @person[:id] %>, '<%= x[:interest] %>', '<%= x[:expert] %>');
<% end %>
</script>
