<table id="attributes">
	<tr><th>attribute</th><th>N</th><th>?</th><th>Y</th></tr>
<% @attributes.each do |x|
minus = (x[:plusminus] == false) ? ' checked="checked"' : ''
unknown = (x[:plusminus] == nil) ? ' checked="checked"' : ''
plus = (x[:plusminus] == true) ? ' checked="checked"' : ''
%>
	<tr><td><%= x[:atkey] %></td><td>
		<input type="radio" name="<%= x[:atkey] %>" data-post="/attribute/<%= @person[:id] %>/<%= x[:atkey] %>/minus.json"<%= minus %>>
	</td><td>
		<input type="radio" name="<%= x[:atkey] %>" data-post="/attribute/<%= @person[:id] %>/<%= x[:atkey] %>/delete.json"<%= unknown %>>
	</td><td>
		<input type="radio" name="<%= x[:atkey] %>" data-post="/attribute/<%= @person[:id] %>/<%= x[:atkey] %>/plus.json"<%= plus %>>
	</td></tr>
<% end %>
</table>
<script>
var attributeInputs = document.getElementById('attributes').getElementsByTagName('input');
var l = attributeInputs.length;
for(var i = 0; i < l; i++) {
	attributeInputs[i].addEventListener('click', function(e) {
		var url = e.currentTarget.getAttribute('data-post');
		var xhr = new XMLHttpRequest();
		xhr.open('post', url, true);
		xhr.send();
	}, false);
}
</script>

<h4>interests:</h4>
<select name="interest" id="inkeyselect">
	<option value="">. . .</option>
<% @inkeys.each do |x| %>
	<option value="<%= x %>"><%= x %></option>
<% end %>
</select>
<input type="submit" value="add" id="interestadd" data-personId="<%= @person[:id] %>" />
<script>
document.getElementById('interestadd').addEventListener('click', function(e) {
	e.preventDefault();
	var inkey = document.getElementById('inkeyselect').value;
	if(inkey == '') { return; }
	var personId = e.currentTarget.getAttribute('data-personId');
	var url = '/interest/' + personId + '/' + inkey + '/add.json';
	var xhr = new XMLHttpRequest();
	xhr.open('post', url, true);
	xhr.send();
}, false);
</script>

<div id="interests">
<% @interests.each do |x| %>
	<form data-urlbase="/interest/<%= @person[:id] %>/<%= x[:interest] %>/">
		<input type="submit" name="delete" value="x">
		<%= x[:interest] %>
		<input type="submit" name="expert" value="-">
		<input type="submit" name="expert" value="|">
		<input type="submit" name="expert" value="+">
	</form>
<% end %>
</div>

