<section id="atkeys">
	<h2>attribute keys:</h2>
	<form action="/attribute" method="post">
		<input type="text" name="attribute">
		<input type="submit" value="add">
	</form>
<dl>
<% @atkeys.each do |x| %>
	<dt>
	<form action="/attribute/<%= x[:atkey] %>/delete" method="post"><input type="submit" value="x"></form>
	<strong><%= x[:atkey] %></strong>
	</dt>
	<dd>
	<form action="/attribute/<%= x[:atkey] %>/update" method="post">
	<input type="text" name="description" value="<%=h x[:description] %>">
	<input type="submit" value="update description"></form>
	</dd>
<% end %>
</dl>
</section>

<section id="inkeys">
	<h2>interest keys:</h2>
	<form action="/interest" method="post" name="interestform">
		<input type="text" name="interest">
		<input type="submit" value="add">
	</form>
<dl>
<% @inkeys.each do |x| %>
	<dt>
	<form action="/interest/<%= x[:inkey] %>/delete" method="post"><input type="submit" value="x"></form>
	<strong><%= x[:inkey] %></strong>
	</dt>
	<dd>
	<form action="/interest/<%= x[:inkey] %>/update" method="post">
	<input type="text" name="description" value="<%=h x[:description] %>">
	<input type="submit" value="update description"></form>
	</dd>
<% end %>
</dl>
</section>

<script>
document.interestform.interest.focus();
</script>

