<p>id: <%= @email.id %></p>
<p>created_at: <%= @email.created_at %></p>
<p>subject: <%= @email.subject %></p>
<p>outgoing: <%= @email.outgoing %></p>
<p>message_id: <%= @email.message_id %></p>
<p>profile: <%= @email.profile %></p>
<p>category: <%= @email.category %></p>
<p>opened_at: <%= @email.opened_at %></p>
<p>closed_at: <%= @email.closed_at %></p>
<p>their_email: <%= @email.their_email %></p>
<p>their_name: <%= @email.their_name %></p>
<p>headers: <%= @email.headers %></p>
<p>body: <%= @email.body %></p>
<p>person: <%= @email.person %></p>
<p>created_by: <%= @email.created_by %></p>
<p>opened_by: <%= @email.opened_by %></p>
<p>closed_by: <%= @email.closed_by %></p>
<p>reference_email: <%= @email.reference_email %></p>
<p>answer_email: <%= @email.answer_email %></p>
<p>attachments: <%= @email.attachments %></p>
<p>new_urls: <%= @email.new_urls %></p>
<p>new_emails: <%= @email.new_emails %></p>
