<form id="personeditform" data-id="<%= @person.id %>" action="/person/<%= @person.id %>" method="post">
id: <%= @person.id %>
<input name="name" placeholder="name" value="<%=h @person.name %>">
<input name="email" placeholder="email" value="<%=h @person.email %>">
<input name="address" placeholder="address" value="<%=h @person.address %>">
<input name="company" placeholder="company" value="<%=h @person.company %>">
<input name="city" placeholder="city" value="<%=h @person.city %>">
<input name="state" placeholder="state" value="<%=h @person.state %>">
<input name="country" placeholder="country" value="<%= @person.country %>">
<input name="phone" placeholder="phone" value="<%=h @person.phone %>">
<input name="categorize_as" placeholder="categorize_as" value="<%=h @person.categorize_as %>">
<textarea name="notes"><%=h @person.notes %></textarea>
<input name="listype" placeholder="listype" value="<%= @person.listype %>">
<% if @email %>
	<input type="hidden" name="email_id" value="<%= @email.id %>">
<% end %>
<input type="submit" value="update">
</form>

<h4>stats:</h4>
<% @person.stats.each do |stat| %>
	<%= stat.key %>
<% end %>

<h4>urls:</h4>
<% @person.urls.each do |url| %>
	<%= url.url %>
<% end %>

<h4>emails:</h4>
<% @person.emails.each do |email| %>
	<%= email.subject %>
<% end %>

