<% if @email && @clash %>
	<form action="/person/<%= @person[:id] %>/match/<%= @email[:id] %>" method="post">
		<input type="submit" value="match email" style="color: #fff; background-color: #900; font-size: 1.2em;">
	</form>
<% end %>
<form id="personeditform" data-id="<%= @person[:id] %>" action="/person/<%= @person[:id] %>" method="post">
id: <a href="/person/<%= @person[:id] %>"><%= @person[:id] %></a>
 ☀ <%= @person[:created_at] %>
<input name="name" placeholder="name" value="<%=h @person[:name] %>">
<input type="email" name="email" placeholder="email" value="<%=h @person[:email] %>">
<input name="address" placeholder="address" value="<%=h @person[:address] %>">
<input name="company" placeholder="company" value="<%=h @person[:company] %>">
<input name="city" placeholder="city" value="<%=h @person[:city] %>">
<input name="state" placeholder="state" value="<%=h @person[:state] %>">
<select name="country">
<%= @locations.inject('<option value="">… country …</option>') do |html, pair|
	html + '<option value="%s"%s>%s</option>' %
		[pair[:code],
   		(@person[:country] == pair[:code]) ? ' selected' : '',
   		pair[:name][0,20]]
end
%>
</select>
<input name="phone" placeholder="phone" value="<%=h @person[:phone] %>">
<input name="categorize_as" placeholder="categorize_as" value="<%=h @person[:categorize_as] %>">
<textarea name="notes"><%=h @person[:notes] %></textarea>
<input name="listype" placeholder="listype" value="<%= @person[:listype] %>">
<% if @email %>
	<input type="hidden" name="email_id" value="<%= @email[:id] %>">
<% end %>
<input type="submit" value="update">
</form>

<% if @tables %>
	<p>✿ <%= @tables.join(', ') %></p>
<% end %>

<h4>stats:</h4>
<form action="/person/<%= @person[:id] %>/stat" method="post" id="statadd">
	<input name="key" placeholder="key">
	<input name="value" placeholder="value">
<% if @email %>
	<input type="hidden" name="email_id" value="<%= @email[:id] %>">
<% end %>
	<input type="submit" value="add stat">
</form>
<% if @person[:stats] %>
	<ul id="statlist">
	<% @person[:stats].each do |stat| %>
		<li>
		<form action="/stat/<%= stat[:id] %>/delete" method="post">
		<% if @email %>
			<input type="hidden" name="email_id" value="<%= @email[:id] %>">
		<% else %>
			<input type="hidden" name="person_id" value="<%= @person[:id] %>">
		<% end %>
		<input type="submit" value="×">
		</form>
		<%= stat[:created_at][0,10] %> <%= stat[:name] %>: <%=h stat[:value] %>
		</li>
	<% end %>
	</ul>
<% end %>

<h4>urls:</h4>
<form action="/person/<%= @person[:id] %>/url" method="post" id="urladd">
	<input name="url" placeholder="url">
<% if @email %>
	<input type="hidden" name="email_id" value="<%= @email[:id] %>">
<% end %>
	<input type="submit" value="add url">
</form>
<% if @person[:urls] %>
	<ul id="urllist">
	<% @person[:urls].each do |url| %>
		<li>
			<form action="/url/<%= url[:id] %>/delete" method="post">
			<% if @email %>
				<input type="hidden" name="email_id" value="<%= @email[:id] %>">
			<% else %>
				<input type="hidden" name="person_id" value="<%= @person[:id] %>">
			<% end %>
			<input type="submit" value="×">
			</form>
			<form action="/url/<%= url[:id] %>" method="post">
			<% if @email %>
				<input type="hidden" name="email_id" value="<%= @email[:id] %>">
			<% else %>
				<input type="hidden" name="person_id" value="<%= @person[:id] %>">
			<% end %>
			<% if url[:main] %>
				<input type="hidden" name="star" value="f"><input type="submit" value="★">
			<% else %>
				<input type="hidden" name="star" value="t"><input type="submit" value="☆">
			<% end %>
			<a href="/link?url=<%=h url[:url] %>"><%=h url[:url].gsub(%r{^https?://}, '') %></a>
			</form>
		</li>
	<% end %>
	</ul>
<% end %>

<h4>emails:</h4>
<form action="/person/<%= @person[:id] %>/email" method="post" id="newemail">
<% if @profiles.count == 1 %>
	<input type="hidden" name="profile" value="<%= @profiles[0] %>">
<% else %>
	<select name="profile">
		<%= @profiles.inject('') {|html, val| html + '<option value="%s">%s</a>' % [val, val]} %>
	</select>
<% end %>
	<input name="subject" placeholder="subject">
	<textarea name="body"></textarea>
	<input type="submit" value="send new email">
</form>
<% if @person[:emails] %>
	<ul>
	<% @person[:emails].reverse.each do |email| %>
		<li><a href="/email/<%= email[:id] %>"><%= email[:created_at][0,10] %></a><br>
		<%=h email[:subject] %></li>
	<% end %>
	</ul>
<% end %>

