<% if @email && @clash %>
	<form action="/person/<%= @person[:id] %>/match/<%= @email[:id] %>" method="post">
		<input type="submit" value="match email" style="color: #fff; background-color: #900; font-size: 1.2em;">
	</form>
<% end %>
<form id="personeditform" data-id="<%= @person[:id] %>" action="/person/<%= @person[:id] %>" method="post">
id: <a href="/person/<%= @person[:id] %>"><%= @person[:id] %></a>
 ☀ <%= @person[:created_at] %>
<input name="name" placeholder="name" value="<%=h @person[:name] %>">
<input type="email" name="email" placeholder="email" value="<%=h @person[:email] %>">
<input name="address" placeholder="address" value="<%=h @person[:address] %>">
<input name="company" placeholder="company" value="<%=h @person[:company] %>">
<input name="city" placeholder="city" value="<%=h @person[:city] %>">
<input name="state" placeholder="state" value="<%=h @person[:state] %>">
<select name="country">
<%= @locations.inject('<option value="">… country …</option>') do |html, pair|
	html + '<option value="%s"%s>%s</option>' %
		[pair[:code],
   		(@person[:country] == pair[:code]) ? ' selected' : '',
   		pair[:name][0,20]]
end
%>
</select>
<input name="phone" placeholder="phone" value="<%=h @person[:phone] %>">
<input name="categorize_as" placeholder="categorize_as" value="<%=h @person[:categorize_as] %>">
<textarea name="notes"><%=h @person[:notes] %></textarea>
<input name="listype" placeholder="listype" value="<%= @person[:listype] %>">
<% if @email %>
	<input type="hidden" name="email_id" value="<%= @email[:id] %>">
<% end %>
<input type="submit" value="update">
</form>

<% if @tables %>
	<p>✿ <%= @tables.join(', ') %></p>
<% end %>

<h4>stats:</h4>
<form id="statadd" data-post="/person/<%= @person[:id] %>/stat.json" data-after="listStat">
	<input name="key" placeholder="key">
	<input name="value" placeholder="value">
	<input id="stataddbutton" type="submit" name="submit" value="add stat">
</form>
<ul id="statlist"></ul>
<script>
function listStat(s) {
	var li = document.createElement('li');
	li.id = 'stat-' + s.id;
	li.innerHTML = '<form data-post="/stat/' + s.id + '/delete.json" data-after="killStat">' +
		'<input type="submit" name="submit" value="x"></form>' +
		s.created_at.substring(0,10) + ' ' +
		s.name + ': ' +
		s.value;  // TODO: html escape
	document.getElementById('statlist').appendChild(li);
}
function killStat(s) {
	document.getElementById('statlist').removeChild(document.getElementById('stat-' + s.id));
}

<% if @person[:stats] %>
	<% @person[:stats].each do |stat| %>
		listStat(<%= stat.to_json %>);
	<% end %>
<% end %>
</script>

<h4>urls:</h4>
<form id="urladd" data-post="/person/<%= @person[:id] %>/url.json" data-after="listUrl">
	<input name="url" placeholder="url">
	<input id="urladdbutton" type="submit" name="submit" value="add url">
</form>
<ul id="urllist"></ul>
<script>
function formUrl(u) {
	return('<form data-post="/url/' + u.id + '/delete.json" data-after="killUrl">' +
	'<input type="submit" name="submit" value="x"></form>' +
	'<form data-post="/url/' + u.id + '.json" data-after="updateUrl">' +
	'<input type="hidden" name="star" value="' + (u.main ? 'f' : 't') + '">' +
	'<input type="submit" name="submit" value="' + (u.main ? '★' : '☆') + '">' +
	'<a href="/link?url=' + encodeURI(u.url) + '">' + u.url.replace(/^https?:\/\//, '') + '</a></form>');
}
function listUrl(u) {
	var li = document.createElement('li');
	li.id = 'url-' + u.id;
	li.innerHTML = formUrl(u);
	document.getElementById('urllist').appendChild(li);
}
function updateUrl(u) {
	document.getElementById('url-' + u.id).innerHTML = formUrl(u);
}
function killUrl(u) {
	document.getElementById('urllist').removeChild(document.getElementById('url-' + u.id));
}

<% if @person[:urls] %>
	<% @person[:urls].each do |url| %>
		listUrl(<%= url.to_json %>);
	<% end %>
<% end %>
</script>

<h4>emails:</h4>
<form action="/person/<%= @person[:id] %>/email" method="post" id="newemail">
<% if @profiles.count == 1 %>
	<input type="hidden" name="profile" value="<%= @profiles[0] %>">
<% else %>
	<select name="profile">
		<%= @profiles.inject('') {|html, val| html + '<option value="%s">%s</a>' % [val, val]} %>
	</select>
<% end %>
	<input name="subject" placeholder="subject">
	<textarea name="body"></textarea>
	<input type="submit" value="send new email">
</form>
<% if @person[:emails] %>
	<ul>
	<% @person[:emails].reverse.each do |email| %>
		<li><a href="/email/<%= email[:id] %>"><%= email[:created_at][0,10] %></a><br>
		<%=h email[:subject] %></li>
	<% end %>
	</ul>
<% end %>

<script>

function ajaxIt(form) {
	var url = form.getAttribute('data-post');
	// use window[functionName] to get function from string
	var after = window[form.getAttribute('data-after')];
	form.elements['submit'].addEventListener('click', function(e) {
		e.preventDefault();
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if(xhr.readyState == 4) {
				after(JSON.parse(xhr.responseText));
				form.reset();
			}
		};
		xhr.open('post', url, true);
		xhr.send(new FormData(form));
	}, false);
}

// ajax ALL the forms!!!!  (OK, just the ones with a data-post attribute)
function ajaxAll() {
	var forms = document.forms;
	var l = forms.length;
	for(var i=0; i < l; i++) {
		var f = forms[i];
		if(f.getAttribute('data-post')) {
			ajaxIt(f);
		}
	}
}

// TODO: ajaxIt for new forms added by eventListener
ajaxAll();

</script>
