<section id="where">
<h1><%=h @pagetitle %></h1>

<table>
<% @countries.each do |country_code, howmany| %>
	<tr><td><%=h Location.name(country_code) %></td><td>
	<% if howmany > 10000 %>
		<a href="/states/<%= country_code %>"><%= howmany %></a>
	<% elsif howmany < 50 %>
		<a href="/where/<%= country_code %>"><%= howmany %></a>
	<% else %>
		<a href="/cities/<%= country_code %>"><%= howmany %></a>
	<% end %>
	</td></tr>
<% end %>
</table>

</section>
