<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Wood Egg: <%= @pagetitle %></title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="/css/woodegg.css" />
</head>
<body>
<div id="page">

<header id="bighead">
<hgroup>
<h1><a href="/"><%= t.musicthoughts %></a></h1>
<h2><%= t.musicthoughts_slogan %></h2>
</hgroup>

<nav id="nav">
<ul>
	<li><a href="/new"><%= t.new %></a></li>
	<li><a href="/author"><%= t.authors %></a></li>
	<li><a href="/contributor"><%= t.contributors %></a></li>
	<li><a href="/t"><%= t.random_thought %></a></li>
	<li><a href="/search"><%= t.search %></a></li>
	<li><a href="/add"><%= t.add_thought %></a></li>
</ul>
</nav>
</header>

<section id="content">

<%= yield %>

</section>

<footer>
</footer>

</div>
</body>
</html>

