<h1><%=h @template[:question] %></h1>
<% @template[:countries].each do |country| %>
	<h2><%= country[:country] %>: <%=h country[:question] %></h2>
	<h3>Answers:</h3>
	<ul>
	<% country[:answers].each do |answer| %>
		<li id="answer-<%= answer[:id] %>">
			<time><%= answer[:date] %></time>
			<p><%=h answer[:answer] %></p>
			<cite><%=h answer[:sources] %></cite>
			<h4>Researcher: <%=h answer[:researcher][:name] %></h4>
		</li>
	<% end %>
	</ul>
	<h3>Answers:</h3>
	<ul>
	<% country[:essays].each do |essay| %>
		<li id="essay-<%= essay[:id] %>">
			<time><%= essay[:date] %></time>
			<p><%= h(essay[:essay]).gsub("\n", '<br>') %></p>
			<h4>Writer: <%=h essay[:writer][:name] %></h4>
			<h4>Editor: <%=h essay[:editor][:name] %></h4>
		</li>
	<% end %>
	</ul>
<% end %>

