<section id="task">

<h1>Task from project: <a href="/project/<%= @task[:project][:id] %>"><%=h @task[:project][:title] %></a></h1>

<h2>Task facts:</h2>
<dl>
	<dt>order</dt>
	<dd><%= @task[:sortid] %></dd>
	<dt>title</dt>
	<dd><%=h @task[:title] %></dd>
	<dt>description</dt>
	<dd><%=h @task[:description] %></dd>
	<dt>status</dt>
	<dd><%= @task[:status] %></dd>
	<dt>created at</dt>
	<dd><%= @task[:created_at] %></dd>
	<dt>claimed at</dt>
	<dd><%= @task[:claimed_at] %></dd>
	<dt>started at</dt>
	<dd><%= @task[:started_at] %></dd>
	<dt>finished at</dt>
	<dd><%= @task[:finished_at] %></dd>
<% if @task[:worker] %>
	<dt>worker</dt>
	<dd><%=h @task[:worker][:name] %></dd>
<% end %>
</dl>

</section>
