<section id="home">

<h1>Projects</h1>

<h2>Create a new project:</h2>
<form action="/projects" method="post">
	<input name="title" value="" placeholder="title">
	<input type="submit" value="create">
</form>

<% if @projects.size > 0 %>
	<h2>Created projects:</h2>
	<ul>
	<% @projects.each do |project| %>
		<li><a href="/project/<%= project.id %>"><%=h project.title %></a> (<%= project.status %>)</li>
	<% end %>
	</ul>
<% end %>

<% if @payments.size > 0 %>
	<h2>Payments:</h2>
	<ul>
	<% @payments.each do |payment| %>
		<li><a href="/payment/<%= payment.id %>"><%= '%s: %s' % [payment.created_at[0,10], payment.money] %></a></li>
	<% end %>
	</ul>
<% end %>

</section>
